modules = ["rust"]

[nix]
channel = "stable-24_05"
packages = ["glib", "pkg-config", "xorg.libX11", "xorg.libxcb", "xorg.libXcursor", "libglvnd", "xorg.libXrandr", "xorg.libXi", "xorg.libXinerama", "xorg.libXext", "mesa", "jq"]

[workflows]

[deployment]
run = ["sh", "-c", "cd /home/runner/workspace && RUST_LOG=debug cargo run"]

[[ports]]
localPort = 5000
externalPort = 80
