modules = ["rust"]

[nix]
channel = "stable-24_05"
packages = ["glib", "pkg-config", "xorg.libX11", "xorg.libxcb", "xorg.libXcursor", "libglvnd", "xorg.libXrandr", "xorg.libXi", "xorg.libXinerama", "xorg.libXext", "mesa"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "USBfly HTTP Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "USBfly App"

[[workflows.workflow]]
name = "USBfly HTTP Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && cargo run --bin http_server"
waitForPort = 5000

[[workflows.workflow]]
name = "USBfly App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd /home/runner/workspace && RUST_LOG=debug cargo run --bin usbfly"

[deployment]
run = ["sh", "-c", "cd /home/runner/workspace && RUST_LOG=debug cargo run"]

[[ports]]
localPort = 5000
externalPort = 80
